@using Data
@using Microsoft.AspNetCore.Identity

@inject NavigationManager NavigationManager
@inject ServiceUsuario service
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor httpContextAccessor
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <a>Correo: @usuario1.Email</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Salir</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Registrarse</a>
        <a href="Identity/Account/Login">Iniciar sesión</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string name_search;
    Usuario usuario1;

     protected override async Task OnInitializedAsync()
    {       
        await GetClaimsPrincipalData();
        await Refresh();
    
    }
      private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
          name_search=user.Identity.Name;
        }
        else
        {
            
        }
    }
    private async Task Refresh()
    {
        usuario1 = await service.getInformation(name_search);
    }

}