@page "/"
@namespace Examen_Final.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuickFactura</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />    
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/miestilo.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="printThis.js"></script>

    <!--script que imprime reporte (modulo reporte)-->
    <script type="text/javascript">

        function imprimir_reporte() {

            var divContenido = document.getElementById("Imprimir_reporte").innerHTML;
            var a = window.open('', '', 'height=1000, width=1000');
            a.document.write('<html>');
            a.document.write('<head>');
            a.document.write('<style>#customers {  font-family: Arial, Helvetica, sans-serif; width: 100 %; } #customers td { padding: 12px;} #customers th {border-bottom: 2px solid #fff; padding: 12px; }  #customers th { padding-top: 12px; padding-bottom: 12px; text-align: center; background-color: #F1E0D3; color: black; } h2 { font-family: verdana; text-align: left; border-bottom: 4px solid;} h4 {border-top: 2px solid; text-align: center;} p { font-family: verdana; font-size: 15px; text-align: right;}</style>');
            a.document.write('</head>');
            a.document.write('<body id="customers"> <br>');
            a.document.write(divContenido);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
        }
    </script>

    <!--script que imprime factura-->
    <script type="text/javascript">

        function imprimir_factura() {

            var divContenido = document.getElementById("Imprimir_factura").innerHTML;
            var a = window.open('', '', 'height=1000, width=1000');
            a.document.write('<html>');
            a.document.write('<head>');
            a.document.write('<style>#customers {  font-family: Arial, Helvetica, sans-serif; width: 100 %; } #customers td { padding: 12px;} #customers th {border-bottom: 2px solid #fff; padding: 12px; }  #customers th { padding-top: 12px; padding-bottom: 12px; text-align: center; background-color: #F1E0D3; color: black; } h2 { font-family: verdana; text-align: left; border-bottom: 4px solid;} h4 {border-top: 2px solid; text-align: center;} p { font-family: verdana; font-size: 15px; text-align: right;}</style>');
            a.document.write('</head>');
            a.document.write('<body id="customers"> <br>');
            a.document.write(divContenido);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
        }
    </script>
</body>
</html>
