@page
@model RegisterModel
@{
    ViewData["Title"] = "SignUp";
}

<h1 style = "font-weight:bold; color:BurlyWood">Registrar</h1>
<center>
   <img class="rounded-Thumbnail" height="180" width="180"
         asp-append-version="true" src="/Images/58967.jpg" />
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div>
        <h3 style="font-weight:bold; color:BurlyWood">Sistema de facturación </h3>
        </div>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-12 row">
            <label for="Input.Email">Correo electrónico</label>
            <input type="email" class="form-control" asp-for="Input.Email" 
           aria-describedby="email" placeholder="Ingrese su correo electrónico"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
    @* <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div>
        <h3 style="font-weight:bold; color:BurlyWood">Sistema de facturación </h3>
        </div>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-12 row">
     <label for="Input.Email">Correo electrónico</label>
    <input type="email" class="form-control" asp-for="Input.Email" 
           aria-describedby="email" placeholder="Ingrese su correo electrónico"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>

  </div> *@

  <div class="col-12 row">
    <label for="Input.Nombres">Nombre(s)</label>
    <input type="nombres" class="form-control" asp-for="Input.Nombres" 
           aria-describedby="nombres" placeholder="Ingrese su nombre"/>
            <span asp-validation-for="Input.Nombres" class="text-danger"></span>
           
  </div>

 <div class="col-12 row">
    <label for="Input.Telefono">Número de teléfono</label>
    <input type="telefono" class="form-control" asp-for="Input.Telefono" 
           aria-describedby="telefono" placeholder="Ingrese su número de teléfono"/>
            <span asp-validation-for="Input.Telefono" class="text-danger"></span>
           
  </div>

        <br/>

        <div class="col-12 row">
    <label for="Input.Documento_Identidad">Documento de Identidad</label>
    <input type="Documento_Identidad" class="form-control" asp-for="Input.Documento_Identidad" 
           aria-describedby="Documento_Identidad" placeholder="Ingrese su Documento de Identidad">
            <span asp-validation-for="Input.Documento_Identidad" class="text-danger"></span>
           
  </div>
   
   <div class="col-12 row">
    <label for="Input.Nombre_Comercial">Nombre Comercial</label>
    <input type="Nombre_Comercial" class="form-control" asp-for="Input.Nombre_Comercial" 
           aria-describedby="Nombre_Comercial" placeholder="Ingrese su Nombre Comercial"/>
            <span asp-validation-for="Input.Nombre_Comercial" class="text-danger"></span>
           
  </div>
   
   <div class="col-12 row">
    <label for="Input.Direccion">Dirección</label>
    <input type="Direccion" class="form-control" asp-for="Input.Direccion" 
           aria-describedby="Direccion" placeholder="Ingrese su Dirección"/>
            <span asp-validation-for="Input.Direccion" class="text-danger"></span>
           
  </div>
       
       <div class="col-12 row">
    <label for="Input.WebSite">Sitio web</label>
    <input type="WebSite" class="form-control" asp-for="Input.WebSite" 
           aria-describedby="WebSite" placeholder="Ingrese su Sitio web"/>
            <span asp-validation-for="Input.WebSite" class="text-danger"></span>
           
  </div>
       
        @* LA CLAVE *@
         <div class="col-12 row">
    <label for="Input.Password">Contraseña</label>
    <input type="Password" class="form-control" asp-for="Input.Password" 
           aria-describedby="Password" placeholder="Ingrese su Contraseña"/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
           
  </div>

     <div class="col-12 row">
    <label for="Input.ConfirmPassword">Confirme su Contraseña</label>
    <input  class="form-control" asp-for="Input.ConfirmPassword" 
           aria-describedby="ConfirmPassword" placeholder="Confirme su Contraseña"/>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
           
  </div>
  

        <br /><br />
      <button type="submit" class="btn btn-primary btn-block" >Crear</button>
        <div class="col-12 row">
            <span class="col-12">
                <a href="/Identity/Account/Login" class="col-6"style = "color:BurlyWood">Ya tiene un Usuario?</a>
            </span>
        </div>
    </form>

</center>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@* <script>
function onClickHandler(){
    var chk=document.getElementById("box").value;
  
  if(document.getElementById("rnc").hidden == true){
    document.getElementById("rnc").hidden = false;
    document.getElementById("cedula").hidden = true;
  }
  else{
      document.getElementById("rnc").hidden = true;
      document.getElementById("cedula").hidden = false;
  }

}
</script> *@